.App {
  text-align: center;
}
.div-Header{
  background-color: rgb(23, 78, 48);
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 10px;
  height: 65px;
}
.div-texto1{
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkgreen;
  text-align: center;
  width: 60%;
}


.div-textoBienvenida{
  border-radius: 5px;
  width: 60%;
  color:black;
  padding: 15px;
  font-family: cursive;
}


.div-login{

  width: 40%;
  float: right;
  text-align: center;
  color: darkgreen;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div-footer{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
